body {
  color: #ffffff;
  font-family: 'roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  width: 1400px;
  margin: 0 auto;
}

/* img робим блочним */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  /* Забераєм декоративні лінії */
  text-decoration: none;
  /* Забераєм декоративні лінії */
  display: inline-block;
}

/* Забераєм вид маркера та відступи*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.container {
  width: 1170px;
  margin: 0 auto;
  background: #ffffff;
  padding-left: 15px;
  padding-right: 15px;
}

/*--------------------------HEADER--------------------------*/
header {
  padding: 25px 0 25px 0;
}

.top-line {
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: black;
  margin-right: 40px;
}

.logo-color {
  color: #2196f3;
}

.menu-nav {
  align-items: center;
}

.list {
  align-items: center;
}

.item {
  margin-left: 50px;
}

.link a {
  color: black;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.contacts {
  margin-left: 250px;
}

.item:hover,
.item:focus {
  color: #2196f3;
}

/*--------------------------HEADER--------------------------*/
/*--------------------------MAIN--------------------------*/
main {
  margin-bottom: 90px;
}
/*-----БАНЕР------*/
.popup {
  background-color: #2f303a;
  margin-bottom: 90px;
  align-items: center;
}

.title-effective-solutions {
  padding-top: 200px;
  margin-top: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button-services {
  width: 200px;
  height: 50px;
  margin-bottom: 200px;
  background-color: #757575;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  border-radius: 10px;
}

.button-services:hover,
.button-services:focus {
  background-color: #2196f3;
}

/* ---ОСОБЛИВОСТІ---*/
.section {
  margin-bottom: 90px;
}

.list-features {
}

.item-features {
}

.title-features {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.title-text-features {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
/*---ЧИМ МИ ЗАЙМАЄМСЯ---*/

.section-work {
  margin-bottom: 180px;
}

.title-work {
  margin-top: 0px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.list-work {
}

.item-work {
}

/*---НАША КОМАНДА---*/
.section-team {
}
.title-team {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.list-team {
}

.item-team {
}

.title-item-team {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

.text-team {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ----------------------FOOTER-------------------*/
.section-footer {
  background-color: #2f303a;
}

.contacts-footer {
}

.list-footer {
}

.item-footer {
}

.text-footer {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/* -------------------PORTFOLIO--------------------*/
.filters-list-button {
}

.button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  border-color: #f5f4fa;
  border-style: none;
}

.button:hover,
.button:focus {
  background-color: #2196f3;
}

.list-portfolio {
  width: 1170px;
  margin: 0 auto;
}

.item-portfolio {
}

.title-portfolio {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

.text-portfolio {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}
