:root {
  /* COLOR */
  /* ЛОГОТИП */
  --brand-color: #2196f3;
  --brand-black-color: #000000;
  /* ЗАГОЛОВКИ */
  --secondary-bg-color: #212121;
  /* ПРОСТИЙ ТЕКСТ */
  --primary-text-color: #757575;
  /* БАНЕР */
  --banner-color: #2f303a;
  /**/
  --white-color: #ffffff;
  --accent-text:
               font-weight: 400,
               font-size: 14px;
}

body {
  color: var(--primary-text-color);
  font-family: 'roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* img робим блочним */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  /* Забераєм декоративні лінії */
  text-decoration: none;
  /* Забераєм декоративні лінії */
  display: inline-block;
}

/* Забераєм вид маркера та відступи*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
/*----------------------------------------------------------*/
/*--------------------------HEADER--------------------------*/
/*----------------------------------------------------------*/
/* ЛОГОТИП */
.logo {
  font-family: 'raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}

.logo-color {
  color: var(--brand-black-color);
}

/* НАВІГАЦІЯ */
.site-text {
  color: var(--secondary-bg-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* КОНТАКТИ */
.contacts-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

/* HOVER FOCUS */
.site-text:hover,
.site-text:focus {
  color: var(--brand-color);
}

.contacts-item:hover,
.contacts-item:focus {
  color: var(--brand-color);
}

.active {
  color: var(--brand-color);
}
/*--------------------------HEADER--------------------------*/
/*---------------------------------------------------------*/
/*--------------------------MAIN---------------------------*/
/*-----БАНЕР------*/
.banner {
  background-color: var(--banner-color);
  align-items: center;
  color: var(--white-color);
  border: transparent;
}

.banner-title {
  font-weight: 900;
  font-size: 44px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.banner-button {
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--brand-color);
}

.banner-button:hover,
.banner-button:focus {
  background-color: var(--brand-color);
}

/* ---ОСОБЛИВОСТІ---*/
.section-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-bg-color);
}

.section-text {
  color: var(--primary-text-color);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*---ЧИМ МИ ЗАЙМАЄМСЯ---*/
.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--secondary-bg-color);
}

/*---НАША КОМАНДА---*/
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--secondary-bg-color);
}

.text-team {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--primary-text-color);
}

/* ----------------------FOOTER-------------------*/
.logo-footer {
  color: var(--white-color);

  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1,19;
  letter-spacing: 0.03em;
  cursor:default;

}

.addres-footer {
  font-style: normal;
}

.logo-footer-color {
  color: var(--brand-color);
}


.footer-text {
  color: rgba(255, 255, 255, 0.6);

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  cursor:default;
}

.footer-text:hover,
.footer-text:focus {
  color: var(--white-color);
}

/*-------------------------------------------------*/
/* -------------------PORTFOLIO--------------------*/
/*-------------------------------------------------*/
/*----- MAIN --------------------------------------*/
.button {
  color: var(--secondary-bg-color);
  background: #f5f4fa;
  border-radius: 4px;
  border-color: #f5f4fa;

  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--brand-color);
  color: var(--white-color);
}

.title-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-bg-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
